<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>ProM Master 2.0</title>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="./css/slds/assets/styles/salesforce-lightning-design-system.css" />
  <style>
    .card {
      text-align: center;
      margin: 20px;
      padding: 20px;
      border: 1px solid #d8dde6;
      border-radius: 4px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    }

    .number {
      font-size: 48px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .description {
      font-size: 16px;
    }
  </style>
</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="border-end bs-gray-900" id="sidebar-wrapper">
      <div class="sidebar-heading bs-gray-900">
        ProM
        <b>Master 2.0</b>
      </div>
      <div class="list-group list-group-flush">
        <!-- Productivity Tools -->
        <p class="sidebar-header">Productivity Tools</p>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="alertChecker.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/action/check_60.png" />
          Alert Checker
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="casecomments.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/standard/announcement_60.png" />
          Case Comments
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="customercomment.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/standard/flow_60.png" />
          Customer Comments
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="closure.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/action/close.svg" />
          Closure Comments
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="gho.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/standard/answer_best_60.png" />
          Easy GHO
        </a>
        <!-- MDE Tools -->
        <p class="sidebar-header">MDE Tools</p>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="crtool.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/action/change_owner.svg" />
          Case Reassignment Tool
        </a>

        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="deployment.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/action/fallback_60.png" />
          Deployment Monitoring
        </a>

        <!-- Added by Sandeep for WI-02 -->
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="casehandover.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/action/announcement_60.png" />
          Case handover
        </a>
        <p class="sidebar-header">Special Access Tools</p>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="UpdatedQaTool.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/survey_60.png" />
          ProQA Tool 
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="OrgErrorChecker.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/call.svg" />
          Voice Call Checker
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="misses.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/error.svg" />
          Misses
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="deploymentPC.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/error.svg" />
          Deployment PC
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="orgIdValidator.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/priority.svg" />
          Org Id Validator
        </a>
        <!-- <a
            class="list-group-item list-group-item-action list-group-item-light p-1"
            href="ccamTool.html"
          >
            <img src="./css/slds/assets/icons/action/info_60.png" />
            ProCAM Tool
          </a> -->
        <!-- User Settings -->
        <p class="sidebar-header">Personalization</p>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="settings.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/settings.svg" />
          User Settings
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1"
          href="https://docs.google.com/spreadsheets/d/1UCbLPbwimyvmRK_CTrFhAQacapppegfiQwp00qf6Itw/edit#gid=0"
          target="”_blank”">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/reply.svg" />
          Feedback form
        </a>
      </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      <!-- Top navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bs-gray-900 border-bottom ">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item active shift-container">
                <span id="logged-in-status-dot" class="dot"></span>
                <p id="current-shift" class="nav-link sub-header"></p>
              </li>
              <li class="nav-item active shift-container">
                <a class="nav-link sub-header" href="popup.html">Home</a>
              </li>
              <li class="nav-item shift-container">
                <a class="nav-link" href="settings.html">
                  <p id="user-name"></p>
                </a>
              </li>
              <li class="nav-item shift-container">
                <span class="slds-avatar slds-avatar_circle slds-avatar_large">
                  <img class="profile-pic" alt="Person name" id="profile-pic" title="Person name" />
                </span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Page content-->
      <div class="container-fluid">
        <div id="manager-view">
          <h1 class="mt-4 mx-4">
            ProCAM (ProM Customer Comments & Alert Monitoring) Tool
          </h1>
          <p class="mx-4">
            Check alerts and customer comment misses for the ProM Team
          </p>
          <!-- Cards -->
          <div class="slds">
            <div class="slds-grid slds-wrap">
              <div class="slds-col slds-size_1-of-2 slds-medium-size_1-of-4">
                <div class="card">
                  <div class="number">1</div>
                  <div class="description">Card 1 description</div>
                </div>
              </div>
              <div class="slds-col slds-size_1-of-2 slds-medium-size_1-of-4">
                <div class="card">
                  <div class="number">2</div>
                  <div class="description">Card 2 description</div>
                </div>
              </div>
              <div class="slds-col slds-size_1-of-2 slds-medium-size_1-of-4">
                <div class="card">
                  <div class="number">3</div>
                  <div class="description">Card 3 description</div>
                </div>
              </div>
              <div class="slds-col slds-size_1-of-2 slds-medium-size_1-of-4">
                <div class="card">
                  <div class="number">4</div>
                  <div class="description">Card 4 description</div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary mt-4 mx-4" id="get-pro-cam-data">
            Get ProCAM Data
          </button>
        </div>
        <div id="non-manager-view">
          <div class="sub-header mt-4 mx-2">
            This tool is only available to <b>ProM Managers</b>. Try to become
            a Manager and come back!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="my-spinner" class="slds-spinner_container">
    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
      <span class="slds-assistive-text">Loading</span>
      <div class="slds-spinner__dot-a"></div>
      <div class="slds-spinner__dot-b"></div>
    </div>
  </div>
  <script src="../lib/jsforce.js"></script>
  <script src="../controllers/ccamTool.js" type="module"></script>
</body>

</html>