<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>ProM Master 2.0</title>
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="./css/slds/assets/styles/salesforce-lightning-design-system.css" />

  <style>
    .card {
      background-color: #f1f1f1;
    }

    .btnTemplatediv {

      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

    }



    .form-select {
      width: 200px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: lightgray;
      color: black;
      cursor: pointer;
      border-radius: 4px;
      margin-top: 15px;
      width: fit-content;
      font-size: 14px;
      border-color: transparent !important;
      display: block !important;
    }

    .form-select::after {
      content: '\25BC';
      position: absolute;
      top: 30%;
      right: 30px;
      transform: translateY(-50%);
      pointer-events: none;
    }


    .user-container {
      display: none;
    }

    .user-container.active {
      display: flex;
      flex-direction: column;
    }

    .main-container {
      display: none;
    }

    .main-container.active {
      display: flex;
      flex-direction: column;
    }

    .stylingButtons {
      color: white !important;
      background-color: black !important;
      margin-top: 15px;
      width: fit-content;
      font-size: 14px;
      border-color: transparent !important;
      display: block !important;
    }

    .stylingButtons:hover {
      font-weight: bold !important;
      transition: 0.05s linear !important;
    }

    .stylingButtonsInverted {
      color: black !important;
      background-color: white !important;
      margin-top: 15px;
      width: fit-content;
      font-size: 14px;
      border-color: transparent !important;
      display: block !important;
    }

    .stylingButtonsInverted:hover {
      background-color: lightgray !important;
      font-weight: bolder !important;
      transition: 0.05s linear;
    }
  </style>





</head>

<body>
  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="border-end bs-gray-900" id="sidebar-wrapper">
      <div class="sidebar-heading bs-gray-900">
        ProM
        <b>Master 2.0</b>
      </div>
      <div class="list-group list-group-flush">
        <!-- Productivity Tools -->
        <p class="sidebar-header">Productivity Tools</p>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="alertChecker.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/action/check_60.png" />
          Alert Checker
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="casecomments.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/standard/announcement_60.png" />
          Case Comments
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="customercomment.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/standard/flow_60.png" />
          Customer Comments
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="closure.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/action/close.svg" />
          Closure Comments
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="gho.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/standard/answer_best_60.png" />
          Easy GHO
        </a>
        <!-- MDE Tools -->
        <p class="sidebar-header">MDE Tools</p>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="crtool.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/action/change_owner.svg" />
          Case Reassignment Tool
        </a>

        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="deployment.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/action/fallback_60.png" />
          Deployment Monitoring
        </a>
        <!-- Added by Sandeep for WI-02 -->
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="casehandover.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/action/announcement_60.png" />
          Case handover
        </a>
        <p class="sidebar-header">Special Access Tools</p>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="UpdatedQaTool.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/survey_60.png" />
          ProQA Tool 
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="OrgErrorChecker.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/call.svg" />
          Voice Call Checker
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="misses.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/error.svg" />
          Misses
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="deploymentPC.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/error.svg" />
          Deployment PC
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="orgIdValidator.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/priority.svg" />
          Org Id Validator
        </a>
        <!-- <a
            class="list-group-item list-group-item-action list-group-item-light p-1"
            href="ccamTool.html"
          >
            <img src="./css/slds/assets/icons/action/info_60.png" />
            ProCAM Tool
          </a> -->
        <!-- User Settings -->
        <p class="sidebar-header">Personalization</p>
        <a class="list-group-item list-group-item-action list-group-item-light p-1" href="settings.html">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/settings.svg" />
          User Settings
        </a>
        <a class="list-group-item list-group-item-action list-group-item-light p-1"
          href="https://docs.google.com/spreadsheets/d/1UCbLPbwimyvmRK_CTrFhAQacapppegfiQwp00qf6Itw/edit#gid=0"
          target="”_blank”">
          <img class="sidebar-icon" src="./css/slds/assets/icons/utility/reply.svg" />
          Feedback form
        </a>
      </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      <!-- Top navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bs-gray-900 border-bottom ">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item active shift-container">
                <span id="logged-in-status-dot" class="dot"></span>
                <p id="current-shift" class="nav-link sub-header"></p>
              </li>
              <li class="nav-item active shift-container">
                <a class="nav-link sub-header" href="popup.html">Home</a>
              </li>
              <li class="nav-item shift-container">
                <a class="nav-link" href="settings.html">
                  <p id="user-name"></p>
                </a>
              </li>
              <li class="nav-item shift-container">
                <span class="slds-avatar slds-avatar_circle slds-avatar_large">
                  <img class="profile-pic" alt="Person name" id="profile-pic" title="Person name" />
                </span>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Page content-->
      <div class="container-fluid">
        <!--Code flow starts from here-->

        <div class="slds-notify_container slds-is-relative" id="toast" style="display: none;">
          <div class="slds-notify slds-notify_toast slds-theme_success" id="statuses" role="status">
            <span class="slds-assistive-text">success</span>
            <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top"
              title="Description of icon when needed">
              <svg class="slds-icon slds-icon_small" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#success"></use>
              </svg>
            </span>
            <div class="slds-notify__content">
              <h2 id="errorMessage" class="slds-text-heading_small ">Account
            </div>
            <div class="slds-notify__close">
              <button class="slds-button slds-button_icon slds-button_icon-inverse" id="close" title="Close">X
              </button>
            </div>
          </div>
        </div>


        <h1 class="mt-4 mx-2">EasyGHO</h1>
        <p class="mt-1 mx-2 sub-header">Post automated handover templates</p>

        <div class="d-flex ">
          <button type="button" id="getGhoCaseButton" class="btn btn-primary stylingButtons mx-2">Get GHO Cases</button>
          <button type="button" id="getnmistatus" class="btn btn-primary stylingButtons mx-2">Update NMI Status</button>

        </div>


        <!--making this div so that in style we can display it hidden and only show when a button is pressed-->
        <div class="user-container mt-4 mx-2">

          <div class="card space-evenly" id="mainCard1">
            <div class="card-body">

              <div class="ml-2 p-2 fs-6">
                <p>Total Cases For a Day - <span id="totalCases"></span> </p>
              </div>

              <div class="ml-2 p-2  fs-6">
                <p>Number Of Cases Commented Today - <span id="casesCommented"></span>
                </p>
              </div>

              <div class="ml-2 p-2 fs-6 ">
                <p> Commented Cases (Link) - <span id="caseNumberSet"></span>
                </p>
              </div>

              <div class="ml-2 p-2  fs-6 ">
                <p>Number Of Cases Not Commented Today - <span id="CasesNotCommented"></span></p>
              </div>



            </div>
          </div>

          <br>

          <div class="btnTemplatediv mx-2">


            <div class="slds-form-element__control slds-grid slds-gutters">
              <div class="slds-col">
                <p class="sub-header" style="font-weight: bold;">Cases where you have posted a Comment</p>
                <textarea id="addGHOTemplateCommented" class="slds-textarea" style="height: 250px;"></textarea>
              </div>
              <div class="slds-col">
                <p class="sub-header" style="font-weight: bold;">Cases where you have not posted a Comment</p>
                <textarea id="addGHOTemplateNotCommented" class="slds-textarea" style="height: 250px;"></textarea>
              </div>
            </div>

            <br>


            <div class="btn-menu d-flex ">
              <select class="form-select mx-2" id="selected-menu" aria-label="Default select example">
                <option value="weekdays">Weekdays</option>
                <option value="weekends">Weekends</option>

              </select>
              <button type="button" id="templatebtn" class="btn btn-primary stylingButtons mx-2">Get GHO
                Template</button>
              <button type="button" id="postgho" class="btn btn-primary stylingButtons mx-2">POST</button>
              <button type="button" class="btn btn-danger stylingButtonsInverted mx-2 " id="clear">Clear</button>
            </div>


          </div>
        </div>

        <div class="main-container mt-4 mx-2">
          <div class="card space-evenly" id="mainCard2">
            <div class="card-body">


              <div class="ml-2 p-2  fs-6 ">
                <p>Number of cases - <span id="nocases"></span></p>
              </div>

              <div class="ml-2 p-2  fs-6 ">
                <p>Cases with NMI Status - <span id="nmicasestatus"></span></p>
              </div>

            </div>
          </div>

          <div class="d-flex">
            <button type="button" class="btn btn-primary stylingButtons mx-2" id="updateNmiStatus">Update
              Status</button>
            <button type="button" class="btn btn-danger stylingButtonsInverted mx-2 " id="clear1">Clear</button>
          </div>

        </div>

        <!--Code flow ends here-->


      </div>
    </div>
  </div>
  <div id="my-spinner" class="slds-spinner_container">
    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
      <span class="slds-assistive-text">Loading</span>
      <div class="slds-spinner__dot-a"></div>
      <div class="slds-spinner__dot-b"></div>
    </div>
  </div>
  <script src="../lib/jsforce.js"></script>
  <script src="../controllers/gho.js" type="module"></script>
</body>

</html>