<!-- Sidebar -->
<div class="border-end bs-gray-900" id="sidebar-wrapper">
  <div class="sidebar-heading bs-gray-900">
    ProM
    <b>Master 2.0</b>
  </div>
  <div class="list-group list-group-flush">
    <!-- Productivity Tools -->
    <p class="sidebar-header">Productivity Tools</p>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="alertChecker.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/action/check_60.png" />
      Alert Checker
    </a>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="casecomments.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/standard/announcement_60.png" />
      Case Comments
    </a>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="customercomment.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/standard/flow_60.png" />
      Customer Comments
    </a>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="closure.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/action/close.svg" />
      Closure Comments
    </a>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="gho.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/standard/answer_best_60.png" />
      Easy GHO
    </a>
    <!-- MDE Tools -->
    <p class="sidebar-header">MDE Tools</p>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="crtool.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/action/change_owner.svg" />
      Case Reassignment Tool
    </a>

    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="deployment.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/action/fallback_60.png" />
      Deployment Monitoring
    </a>

    <!-- Added by Sandeep for WI-02 -->
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="casehandover.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/action/announcement_60.png" />
      Case handover
    </a>
    <p class="sidebar-header">Special Access Tools</p>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="qatool.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/action/clone_60.png" />
      ProQA Tool
    </a>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="UpdatedQaTool.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/utility/survey_60.png" />
      ProQA Tool Revamped
    </a>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="OrgErrorChecker.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/utility/call.svg" />
      Voice Call Checker
    </a>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="misses.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/utility/missed_call.svg" />
      Misses
    </a>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="deploymentPC.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/utility/error.svg" />
      Deployment PC
    </a>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="orgIdValidator.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/utility/priority.svg" />
      Org Id Validator
    </a>
    <!-- <a
            class="list-group-item list-group-item-action list-group-item-light p-1"
            href="ccamTool.html"
          >
            <img src="./css/slds/assets/icons/action/info_60.png" />
            ProCAM Tool
          </a> -->
    <!-- User Settings -->
    <p class="sidebar-header">Personalization</p>
    <a class="list-group-item list-group-item-action list-group-item-light p-1" href="settings.html">
      <img class="sidebar-icon" src="./css/slds/assets/icons/utility/settings.svg" />
      User Settings
    </a>
  </div>
</div>